body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing:aliased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("Comfortaa"),
    url("./fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("Comfortaa"),
    url("./fonts/Comfortaa-Light.ttf") format("truetype");
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
}
